body {
    margin: 0;
    padding: 0;
    
    max-width: 1280px;
    min-width: 800px;
    height: auto;
    margin: auto;

    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow-x: hidden;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    background-color: white;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(65, 65, 65);
}

header section {
    display: flex;
    align-items: center;
    color: white;
    font-size: .9rem;
}

header section img {
    width: 100px;
}

header nav {
    display: flex;
    gap: 20px;
    font-size: .9rem;
    font-weight: 500;
}

header a {
    color: rgb(200, 200, 200);
    text-decoration: none;

    transition: 0.3s;
}

header a:hover {
    color: white;
    text-shadow: 0px 0px 15px rgb(255, 255, 120);
    transform: scale(110%);
}

#btn-compra {
    color: rgb(0, 150, 0);
}


/* ARTICLES */
article {
    width: 100%;
    min-height: 400px;
    background-color: white;

    /* overflow: auto; */
}

.article1 {
    display: flex;
    flex-direction: row-reverse;

    background-image: url(./img/ba1.jpg);
    background-size: cover; 
    background-position-y: -90px;
    background-repeat: no-repeat;
}

.article1-filter {
    display: inline;
    width: 100%;
    backdrop-filter: brightness(45%);

    display: flex;
    flex-direction: row-reverse;
    align-items: end;
}

.article1-filter section {
    width: clamp(300px, 40%, 700px);
    
    color: white;
    text-align: right;
    font-size: .8rem;
    font-weight: 100;
    line-height: 1.1rem;

    padding-right: 40px;
    padding-bottom: 90px;
}

.article1-filter section h1 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 0;
}

.article1-filter section button {
    padding: 8px 15px 8px 15px;
    margin-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    border: rgb(169, 169, 169) solid 1px;
    border-radius: 5px;

    font-size: 0.75rem;
    font-weight: 200;
    color: white;
    text-shadow: 0px 0px 5px black;

    cursor: pointer;

    transition: 0.3s;
}

#btn-compra2{
    background-color: rgb(9, 140, 9);
    text-shadow: none;
}

.article1-filter section button:hover {
    transform: scale(110%);
    box-shadow: 1px 5px 15px white;
}


/* ARTICLES - ORADORES*/
.article2 section:first-child {
    text-align: center;
}

.article2 section h3 {
    font-size: 0.8rem;
    font-weight: 200;

    margin: 5px 0 3px 0;
    padding: 0;
}

.article2 section h2 {
    font-size: 1.5rem;
    font-weight: 600;

    margin: 0;
    padding: 0;
}

.article2-cartas {
    display: flex;
    gap: 20px;

    justify-content: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.orador_card {
    width: 275px;
    border: solid 1px lightgray;
    border-radius: 15px;
    height: fit-content;

    box-shadow: 0px 0px 10px grey;
    overflow: hidden;

    transition: 0.3s;
}

.orador_card:hover {
    transform: scale(105%);

    cursor: pointer;
}

.orador_card img {
    width: 100%;
}

.orador_card-text {
    margin: 0;
    padding: 15px;
}

.orador_card-topics {
    display: flex;
    gap: 5px;

    padding: 0;
    margin: 0;
}
.orador_card-topics h4 {
    padding: 3px;
    text-align: center;
    border-radius: 5px;

    margin: 0;
}

#java {
    background-color: rgb(231, 190, 12);
}

#react {
    background-color: rgb(21, 148, 162);
    color: white;
}

#negocios {
    background-color: grey;
    color: white;
}

#startups {
    background-color: rgb(172, 4, 4);
    color: white;
}

#orador {
    font-size: 1.2rem;
    font-weight: 600;
}

.orador_card-info {
    font-size: .8rem;
    line-height: 1.1rem;
    letter-spacing: 0.1rem;
}


/* ARTICLES - LUGAR Y FECHA*/
#lugar {
    min-height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-img {
    border: solid 1px white;
}

.grid-img img {
    width: 100%;
    height: 100%;
}

.grid-info {
    color: white;
    background-color: rgb(56, 60, 73);
    padding: 10px;
    border: solid 1px white;
}

.grid-info h2 {
    font-size: 1.4rem;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

.grid-info p {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 200;

    margin: 5px 0 15px 0;
}

.grid-info button {
    font-size: 0.8rem;
    color: white;
    background-color: transparent;
    border: solid white 1px;
    border-radius: 3px;
    padding: 5px;

    cursor: pointer;

    transition: 0.3s;
}

.grid-info button:hover {
    box-shadow: 0px 0px 5px white;
}

/* ARTICLES - FORMULARIO*/
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin: 10px;
    min-height: 100%;
}

#form section {
    width: 50%;
}

#form h3 {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
}

#form h2 {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

#form p {
    font-size: 0.8rem;
    font-weight: 200;
    padding: 5px;
    margin: 0;
}

.headform {
    display: block;
    width: 100%;
}

.inputs {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.inputs input {
    width: 100%;
    padding: 5px;
    margin: 0;
    color: rgb(159, 159, 159);

    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
}

.textarea {
    display: flex;
}

.textarea textarea{
    width: 100%;
    min-height: 50px;
    padding: 5px;
    margin: 0;
    color: rgb(159, 159, 159);

    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
}

.email {
    display: flex;
}

.email input {
    width: 100%;
    padding: 5px;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    color: rgb(159, 159, 159);

    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
}

.pieForm {
    display: flex;
    gap: 5px;
    text-align: start;
    color: rgb(159, 159, 159);
}

.pieForm > div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pieForm div input {
    height: 30px;
    margin: 0;
    color: rgb(159, 159, 159);

    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
}

.pieForm div select {
    height: 34px;
    margin: 0;
    color: rgb(159, 159, 159);

    border: solid 1px rgb(221, 221, 221);
    border-radius: 3px;
}

.pieform-pago {
    background-color: lightblue;
    color: rgb(49, 87, 100);
    text-align: start;
    border-radius: 3px;
}

.pieform-pago h4 {
    font-weight: 400;
    padding: 10px;
}


#form button {
    width: 100%;
    color: white;
    
    padding: 10px;
    margin-top: 5px;
    
    border: none;
    background-color: rgb(128, 187, 39);
    border-radius: 3px;

    cursor: pointer;

    transition: 0.3s;
}

#form button:hover {
    box-shadow: 0px 0px 5px slategrey;
}

/* FOOTER */
footer {
    background-color: rgb(9, 42, 70);
    height: 100px;
    display: flex;
    align-items: center;
}

footer nav {
    width: 100%;
}

footer nav ul{
    display: flex;
    gap: 20px;
    font-size: .9rem;
    font-weight: 500;
    list-style: none;

    align-items: center;
    justify-content: space-evenly;
}

footer nav ul a {
    color: rgb(200, 200, 200);
    text-decoration: none;
    transition: 0.3s;
}


/* PAGINA COMPRAS */
.categorias {
    margin-top: 20px;
    width: 100%;
    display: flex;
    gap: 5px;

    justify-content: center;
}

.categoria {
    border: solid 1px black;
    text-align: center;
    padding: 5px;
}

.categoria h2 {
    font-size: 20px;
    font-weight: 600;
}

.categoria h4 {
    font-weight: 200;
}

.categoria h3 {
    font-weight: 600;
}

.pieForm-botones {
    display: flex;
    gap: 5px;
}